.Modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    width: 600px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 10;
    border-radius: 10px;

    h1 {
      text-align: left;
      padding: 12px;
    }
    button {
      margin-right: 15px;
      width: 120px;
      padding: 0.6rem;
      border-radius: 4px;
      display: inline-block;
      &.delete {
        background-color: #ff0000;
        color: #f2f2f2;
      }
    }
    .btn-box {
      text-align: center;
    }
  }
  &__center {
    text-align: center;
    margin-top: 20px;
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 12px;
    cursor: pointer;
  }
}
