.App {
  text-align: center;
  background-color: lightblue;
  padding: 1rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.title {
  color: darkblue;
  font-size: 4rem;
}