body{
    max-width: 800px;
}
.App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__title{
        font-size: 26px;
        color: #333;
    }
    &__input{
        display: flex;
        gap: 10px;
        :focus{
        outline: none;
        border: none;
        border-bottom: 2px solid #ccc;

    }
        &-field{
            flex: 1;
            padding: 12px 16px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
            color: #333;
        }
        &-btn{
            padding: 12px 16px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
            color: #333;
            cursor: pointer;
        }
    }
    :focus{
        outline: none;
    }

}