.List{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
    &__completed{
        text-decoration: line-through;
        color: #4f4f4f;
        
    }
}
li{
    border: #4f4f4f solid 1px;
    padding: 10px;
    border-radius: 8px;
   position: relative;
   width: 100%;
   margin: 10px;
}
input{
    margin-right: 10px;
}
button{
    position: absolute;
   padding-top: 7px;
   padding: 0;
   background-color: transparent;
   right: 12px;
   top: 12px;
}


