li {
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #fff;
  margin-bottom: 12px;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
}

ul {
  width: 600px;
  margin: 20px auto;
  max-height: 400px;
  overflow-y: auto;
}
