body {
  background-color: #080808;


}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 1rem;
}

.App button {
  width: 150px;
  background-color: #f3eeee;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 24px;
  margin: 20px;
}

button.active {
  background-color: #0aee34;
  color: #fff;

}

h1 {
  text-align: center;
  font-size: 20px;
  color: #fff;
}