.List {
  width: 100%;
  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
    width: 100%;
    li {
      border: #4f4f4f solid 1px;
      padding: 10px;
      width: 100%;
      border-radius: 8px;
      position: relative;
    }
    input {
      margin-right: 10px;
    }
    button {
      position: absolute;
      padding-top: 7px;
      padding: 0;
      background-color: transparent;
      font-weight: 900;
      right: 12px;
      top: 12px;
    }
  }
  &__completed {
    text-decoration: line-through;
    color: #dacbcb;
  }
}
