.Card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 20px;
  margin: 40px auto;
  &__light {
    background-color: #dedede;
  }
  &__dark {
    background-color: #222;
    color: #eee;
  }
  &__title {
    font-weight: 400;
    &-dark {
      background-color: #111;
    }
  }
  &__body {
    &-thin {
      font-weight: 300;
    }
  }
}
