body{
    background-color: #080808;
   

}
div{
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
button{
    width: 150px;
    background-color: #f3eeee;
    color: #333;
    border: none;
    cursor: pointer;}
    .active{
        background-color: #0aee34;
        color: #fff;

    }
    h1 .active{
        text-align: center;
        font-size: 20px;
        color: #fff;
    }