.App {
  width: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &__title {
    color: #4f4f4f;
    font-size: 1.85rem;
    text-align: left;
    width: 100%;
  }
}
