*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
form{
    width: 360px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
input{
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;

}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(7, 78, 232);
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: 24px;
    color: #333;
    line-height: 1.5;
    width: 360px;
}
button{
    background-color: rgb(179, 30, 3);
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    color: #333;
    cursor: pointer;
}