* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {

  padding: 20px;
  display: block;
}

div {
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

button {
  padding: 14px 10px;
  width: 90px;
  font-size: 16px;
  margin: 20px;
  border-radius: 4px;
  background-color: rgb(85, 86, 85);
  color: #fff;
  border: none;
}