.post h2 {
  font-size: 28px;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: #111;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.post h2.active {
  background-color: #f39c12;
}

.post {
  margin-top: 20px;
  background-color: #fefedd;
}

p {
  padding: 2rem;
}

p.dark {
  background: #111;
  color: #fff;
}

p.light {
  background-color: #fefedd;
  color: #111;
}