.post h2 {
  font-size: 28px;
  text-align: left;
  color: rgb(255, 255, 255);
  background: #10ce54;
}

.post {
  margin-top: 20px;
  background-color: #fefedd;
}

p {
  padding: 2rem;
}

p.dark {
  background: #111;
  color: #fff;
}

p.light {
  background-color: #fefedd;
  color: #111;
}