* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #0fcc4e;
  color: #ecf0f1;
}