* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
input {
  cursor: pointer;
  :focus {
    outline: none;
  }
}
