* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  background-color: #f5f5f5;
  color: #333;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

#root {
  margin-top: 230px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
<<<<<<< HEAD
  cursor: pointer;
=======
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: #0fcc4e;
  color: #ecf0f1;

>>>>>>> df707ee3395dd7e0b7928c35e1b531db8c5b998a
}
input {
  cursor: pointer;
  :focus {
    outline: none;
  }
}
<<<<<<< HEAD
=======

button.delete {
  background-color: #e74c3c;
  margin-left: 0.5rem;
}

ol {

  padding-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}

input:focus {
  outline: none;
}
>>>>>>> df707ee3395dd7e0b7928c35e1b531db8c5b998a
