
button{
padding: 12px 8px;
width: 110px;
font-size: 14px;
    margin: 20px;
    border: 1px solid rgb(23, 23, 23);
    border-radius: 20px;
    background-color: rgb(244, 248, 244);
    color: #0f0f0f;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}